page-home {
    .white{
        background-color: grey !important;
    }

    .black{
        background-color: black !important;
    }

    .white, .black{
        height: 11vw;
        width: 11vw;
    }


    .pieceBlue{
        background-color: blue !important;
    }

    .pieceRed{
        background-color: red !important;
    }

    .pieceRed, .pieceBlue{
        border-radius: 8vw;
        height: 8vw;
        width: 8vw;
        position: relative;
        top: 13%;
        left: 13%;
    }

    div .pieces{
        display: flex;
        flex-direction: left;
    }

    

}
