<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  This is a simple Ionic App
  <p>
    Welcome to my checkers game.
  </p>
  <div *ngFor="let line of pieces; let i = index" class="pieces">
    <div *ngFor="let piece of line; let j = index">

      <!-- White squares -->
      <div *ngIf="piece == 'white'" class="white"></div>

      <!-- Blue pieces -->
      <div *ngIf="piece == 'pieceBlue'" class="black">
        <div *ngIf="line[j] == 'pieceBlue'" class="pieceBlue" (click)="movement(i,j)"></div>
      </div>

      <!-- Black squares -->
      <div *ngIf="piece == 'black'" class="black"></div>

      <!-- Movement squares -->
      <div *ngIf="piece == 'move'" (click)="moveHere(i,j)" class="move"></div>
      
      <!-- Red pieces -->
      <div *ngIf="piece == 'pieceRed'" class="black" (click)="movement(i,j)">
        <div *ngIf="line[j] == 'pieceRed'" class="pieceRed"></div>
      </div>
      
    </div>
  </div>
</ion-content>
